# Configuración del Servidor Express
PORT=3000

# URL del Web App de Google Apps Script (Base de Datos en Google Sheets)
GOOGLE_SHEETS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwaqrck9GXpmsmT7CQ_aslL8pTSVQVa38FtqkGZzH7jinwcw-Up_GgHWDtijSG3AIHfLw/exec
